@CHARSET "UTF-8";

body {
	background-color: #353535;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	/* 100% = 16px = 1em */
	font-size: 10px;
	color: #FAFAFA;
	padding: 0px;
	margin: 0px;
}

.ui-message-info, .ui-message-error, .ui-message-warn, .ui-message-fatal, .ui-messages-error, .ui-messages-warn {
	border: 1px solid;
	margin: 0px 5px;
	padding: 2px 5px;
}

.ui-widget {
    font-family: Verdana, Arial, sans-serif;
    font-size: 1.1em;
}

/* MENUBAR */
#menubarForm .ui-widget-content {
	border: 0px none;
    border-bottom: 1px solid #FF4500;
    background: #272727;
    color: orange; /* what is this? */
}

#menubarForm .ui-corner-all {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}


/* TODO if you remove this style, the links will go blue */
#menubarForm .ui-state-hover, 
#menubarForm .ui-widget-content .ui-state-hover, 
#menubarForm .ui-widget-header .ui-state-hover, 
#menubarForm .ui-state-focus, 
#menubarForm .ui-widget-content .ui-state-focus, 
#menubarForm .ui-widget-header .ui-state-focus
{
	background: #FF4500 -webkit-gradient(linear, left top, left bottom, from(rgba(255,255,255,0.3)), to(rgba(255,255,255,0)));
/*     background: #FF4500; */
    font-weight: bold;
    -moz-box-shadow: 0 0 5px #FF4500;
    -webkit-box-shadow: 0px 0px 8px #FF4500;
    box-shadow: 0px 0px 8px #FF4500;
}

#menubarForm .ui-menuitem-text {
	font-weight: normal;
}


/** BREADCRUMB */
.ui-breadcrumb {
    margin: 0 0 5px 0;
    padding: 0;
    overflow: hidden;
    padding: 2px 5px 5px 5px;
}
#breadCrumb .ui-corner-all {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
}
.ui-widget-header {
    border: none;
	background: #272727;
    color: #333;
    font-weight: normal;
    text-shadow: none;
}

#breadCrumb span.ui-menuitem-text {
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
}

#breadCrumb a, #breadCrumb a:visited, #breadCrumb a:link {
	text-decoration: none;
	color: #FF4500;
}

#breadCrumb a:hover {
	text-decoration: underline;
	color: #DD5511;
}


/** links inside primefaces table*/
a.ui-link.ui-widget {
    color: #272727;
}

/** links inside my table */
/** someday .myForm class should be removed */
.myForm a.ui-link.ui-widget {
	color: #FAFAFA;
}




a, a:visited, a:link {
	text-decoration: none;
	color: #FAFAFA;
}

a:hover {
	text-decoration: underline;
	color: #DADADA;
}

.icon {
/* 	width: 64px; */
}

.test {
	border: 1px solid #FF0000;
}



.table {   
   border-collapse: collapse;
   border: 1px solid #AAAAAA;
}

.table tr td {
	padding: 0px 3px;
}

/* .tableHeader { */
/* 	text-align: left; */
/* 	font-weight: bold; */
/* 	background-color: #f4e3a1; */
/* 	border-bottom: 1px solid #AAAAAA;   */
/* 	padding: 2px; */
/* } */

.tableOddRow {
	background-color: #333;
}

.tableEvenRow {
	background-color: #444;
}

.col0 {
	border-right: 1px solid #AAAAAA;
	text-align: left;
	font-weight: bold;
	background-color: #483D8B;
	border-bottom: 1px solid #AAAAAA;  
	padding: 2px 5px;
}
.col1 {
	width: 40px;
}
.col2 {
	width: 20%;
}
.col3 {
	width: 60%;
}

.bgTrapColor-Critical {
	background-color: Red;
}
.bgTrapColor-Major {
	background-color: DarkOrange;
}
.bgTrapColor-Minor {
	background-color: Orange;
}
.bgTrapColor-Warning {
	background-color: Yellow;
}
.bgTrapColor-Clear {
	background-color: PaleGreen;
}
.bgTrapColor-Info {
	background-color: Plum;
}








/* radio box */
/* .text-white tr td label { */
/* 	color: white; */
/* } */

/* .error tr td { */
/* 	color: red; */
/* } */



.border {
	border: 1px solid #AAA;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
/* 	font-size: 14px; */
	padding: 3px;
	margin-right: 5px;
	margin-top: 5px;
}





