@CHARSET "UTF-8";

span.ui-menuitem-text {
	font-size: 12px;
/* 	font-weight: bold; */
}

span.title {
	font-weight: bold;
	font-size: 1.5em;
}

.codeStyle {
	font: 12px monospace;
	white-space: pre-wrap;
}

.valign-middle {
	vertical-align: middle;
}

.align-right {
	text-align: right;
}

/* .text-white { */
/* 	color: white; */
/* } */
