@CHARSET "UTF-8";

span.ui-menuitem-text {
	font-size: 12px;
/* 	font-weight: bold; */
}

.title {
	font-weight: bold;
	font-size: 1 em;
}

.codeStyle {
	font: 9px monospace;
}

.valign-middle {
	vertical-align: middle;
}

.align-right {
	text-align: right;
}

/* .text-white { */
/* 	color: white; */
/* } */
